@charset 'UTF-8';

// Fonts
$font-primary: "Open Sans",Helvetica,Arial,sans-serif;
$font-secondary: "Montserrat",Helvetica,Arial,sans-serif;

// Colors:
$color-primary: #cf474f;
$color-secondary: #1f1f1f;

$color-neutral: #FFF6E6;
$color-accent: #007D8C;
$color-accent-2: #6BB7B9;
$color-accent-3: #79CCCD;

@import "_base";

.bg-accent {
  background-color: $color-accent;
}

.bg-neutral {
  background-color: $color-neutral;
}

.text {
  font-size: 16px;
}

.about-me-text {
  margin-left: 18px;
}

#clients {
  padding-bottom: 40px;

  a {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;

    @media #{$screen-sm} {
      margin-bottom: 30px;
      margin-right: 20px;
    }

    img {
      height: 40px;
    }
  }
}

#testimonials {
  @media #{$screen-xs} {
    padding-bottom: 0 !important;
  }

  .row > div {
    padding-top: 30px;

    &:nth-child(even) {
      @media #{$screen-sm} {
        background-color: darken($color-accent, 3%);
      }
    }
  }
}

a:hover {
  color: $color-primary;
}

.dark a:hover {
  color: $color-accent-3;
}

h5 {
  line-height: 1.5;
}