body {
	background-color: #f7e6c3;
	margin: 30px;
}


#ctrlButtons {
	width: 50%;
	margin: auto;
	padding-top: 50px;
	text-align: center;
}

button #play {
	margin: auto;	
}

#result{
	width: 200px;
	height: 100px;
	/* border: 1px solid #000; */
	margin: auto;
	text-align: center;
}

#instruction{
	width: 200px;
	height: 100px;
	padding-top: 150px;
	margin: auto;
	text-align: center;
}


